@import url('https://fonts.googleapis.com/css2?family=Space+Mono&amp;display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&amp;display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&amp;display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&amp;display=swap');

    /* loader */
body {
    user-select: none;
    background-color:#000000;
    background-image: url('../images/spinner.mov.gif');
    background-repeat: no-repeat;
    background-position-x: 800px;
    background-position-y: 300px;
    background-size: 300px;
  }

    /* video */
  #myVideo{
    position: fixed;
    filter: brightness(0.6);
    top:50%;
    left:50%;
    min-width:100%;
    min-height:100%;
    z-index: -10;
    -webkit-transform: translateX(-50%) translateY(-50%);
transform: translateX(-50%) translateY(-50%);
  }

  /* click to enter */
  .sparkle{
    background-image:url(../../../media.discordapp.net/attachments/987149728800198686/991834200309248070/sparkle.gif)
  }
   
  #overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(2, 2, 2);
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 1;
    transition: opacity 1s;
  }

  #overlay.hidden {
    opacity: 0;
    pointer-events: none;
  }

  #overlay a {
    color: #ffffff;
    font-family: "Poppins", sans-serif;
    font-size: 1.10em;
    font-weight: bold;
    cursor: pointer;
  }

  #overlay a:hover {
    text-decoration: underline;
  }

    /* header */
    .header {
      position: absolute;
      top:42%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 2vw;
      font-family: "Poppins", sans-serif;
      font-weight: bold;
      color: white;
      text-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
    }

  /* Typewriter */
  .typewriter {
    user-select: text;
    position: absolute;
    top: 47.5%;
    left: 50.2%;
    transform: translate(-50%, -50%);
    font-size: 0.8vw;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    color: white;
    text-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
    white-space: nowrap;
    margin: 0 auto;
  }

  footer {
    position: fixed;
    bottom: 10px;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    line-height: 17px;
    font-weight: 400;
    font-style: normal;
    font-size: 8px;
    color: rgba(204, 204, 204, 0.493);
    line-height: 1.5;
  }